# Testing
pytest
flaky
pytest-cov
pytest-random-order

# Additional functionality
openpyxl
xlrd

# Code checks
black == 24.3.0
pre-commit
flake8
flake8-bugbear
flake8-comprehensions
Flake8-pyproject
isort
mypy == 1.7.0
pyupgrade
pydocstyle

# Type stubs for mypy
types-atomicwrites
types-python-dateutil
types-setuptools

# Generate fake data
Faker >= 23.2.0

# Work with Jupyter Notebooks
notebook

# Silence `pandas` DeprecationWarning
# and maybe adds a performance boost too? Unclear
pyarrow
