# Testing
pytest
flaky
pytest-cov
pytest-random-order

# Additional functionality
openpyxl
xlrd

# Code checks
black == 24.1.0
pre-commit
flake8
flake8-bugbear
flake8-comprehensions
isort
mypy == 1.7.0
pyupgrade
pydocstyle

# Type stubs for mypy
types-atomicwrites
types-python-dateutil
types-setuptools

# Generate fake data
Faker @ git+https://github.com/moshemoshe137/faker-fork.git@40b12b59f541e5dffa738fb7b479c72b8cfdd538

# Work with Jupyter Notebooks
notebook

# Silence `pandas` DeprecationWarning
# and maybe adds a performance boost too? Unclear
pyarrow
